/* You can add global styles to this file, and also import other style files */
@charset "utf-8";

@use "bulma/bulma" as bulma with (
  $body-background-color: #ffd8d8,
  $menu-item-color: red,
  $text: red,
  $menu-item-radius: red,
  $radius-small: red,
  $menu-item-hover-color: red,
  $text-strong: red,
  $menu-item-hover-background-color: red,
  $background: red,
  $menu-item-active-color: red,
  $link-invert: red,
  $menu-item-active-background-color: red,
  $link: red,
  $menu-list-border-left: red,
  $menu-list-line-height: red,
  $menu-list-link-padding: red,
  $menu-nested-list-margin: red,
  $menu-nested-list-padding-left: red,
  $menu-label-color: red,
  $text-light: red,
  $menu-label-font-size: red,
  $menu-label-letter-spacing: red,
  $menu-label-spacing: red
);
