<header class="navbar is-light">
  <span class="navbar-item">{{title}}</span>
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/mesures" routerLinkActive="is-active">Measures Management</a>
    <a class="navbar-item" routerLink="/admin" routerLinkActive="is-active">Admin Dashboard</a>
    <a class="navbar-item" routerLink="/meteo-daily" routerLinkActive="is-active">Meteo Daily</a>
    <a class="navbar-item" routerLink="/meteo-hourly" routerLinkActive="is-active">Meteo Hourly</a>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
